body, html {
    margin: 0;
    padding: 0;
    height: 200%; /* Increased height to allow scrolling */
    overflow-x: hidden;
}

.image-container {
    position: relative;
    width: 100%;
    height: 100vh; /* Adjusted to take full viewport height */
}

.image {
    position: absolute;
    width: 100%;
    height: 100vh; /* Adjusted to take full viewport height */
    object-fit: cover;
    transition: transform 1s;
}

.image2 {
    transform: translateX(100%);
}
